html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #121212;
    overflow: hidden;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
    user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#ui {
    background-color: rgba(0, 0, 0, 0.5);
    float: inline-end;
    position: absolute;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1em;
    color: #f0f0f0;
    position: absolute;
    top:0;
    left:0;
}

.disabled {
    pointer-events: none;
}